
<%- include('header') -%>

    <main>
        <section class="mainContainer">
            <section class="left"></section>
            <section class="right">
                <section class="rightWrapper">
                    <h1>You have entered the Good Vibe Zone</h1>
                    <a href="/login"><button type="button" class="btn btn-outline-secondary btn-lg">Login</button></a>
                    <a href="/signup"><button type="button" class="btn btn-outline-secondary btn-lg">Sign Up</button></a>
                </section>
            </section>
        </section>
    </main>

<%- include('footer') -%>