/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body, .form-text{
color: #FFFFFF;
}

.mainContainer, .rightWrapper, .right{
    display: flex;
}

.left, .right{
    height: 100vh;
    flex-basis: 50%;
}

.left{
    background-color: #121212;
    flex-basis: 55%;
}
.right{
    background-color: #181818;
    align-items: center;
    justify-content: center;
}
.rightWrapper{
    flex-direction: column;
    gap: 20px;
}

button{
    width: 100%;
}

